body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: whitesmoke;
}


.root{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: #649841;
}

.div-r-header{
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
}
.div-l-header{
    width: 50%;
    height: 100%;
    justify-content: centre;
    display: flex;
    align-items: center;
}


.ul-header{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}
.li-item{
    margin-right: 15px;
}

.link-item{
    text-decoration: none;
    font-size: 1.5em;;
    color: white;
    
}
.div-img{
    
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 80%;
    height: auto;
}

/*seccion main*/

.main{
    width: 100%;
    height: 100vh;
    background-color: goldenrod;
}
